<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Maincontent</title>

    <link rel="stylesheet" href="../css/style.css">
</head>
<body>

<main class="main-content">
    <section class="product-list">
        <div class="product-">
            <h2>Chuột</h2>
            <div class="product-grid">
                <div class="product-item">
                    <a href="../Layout/product.html">

                        

                    </a>
                </div>

                <div class="product-item">

                    
                </div>
                <div class="product-item">
                    
                </div>
                <div class="product-item">
                    
                </div>
                <div class="product-item">
                    
                </div>
                <div class="product-item">
                    
                </div>
                <div class="product-item">
                    
                </div>
            </div>
        </div>
        <div class="product-">
                <h2>Tai nghe</h2>
                <div class="product-grid">
                    <div class="product-item">

                        
                    </div>
                    <div class="product-item">
                        
                    </div>
                    <div class="product-item">
                        
                    </div>
                    <div class="product-item">
                        
                    </div>
                    <div class="product-item">
                        
                    </div>
                    <div class="product-item">
                        
                    </div>
                </div>
        </div>
    </section>
</main>
</body>
</html>
